
<section data-bind="attr: { class: componentID }">
  <div class="content-box component-content center-responsive">
    <header role="group" class="content-header fx">
      <div class="header-box">
        <div role="banner" class="selfie fx"><img src="media/images/artwork/client_photo.png" alt="Johnathan Eric Hill photo"/></div>
        <div role="banner" class="logo fx"><img src="media/images/svg/logo.svg" alt="Johnathan Eric Hill"/></div>
        <div role="complimentary" class="promo fx">
          <p>Project Manufacturing Engineer</p>
        </div>
        <div class="contact_no"><a id="contact_no" role="link" title="Call Mobile" href="tel:2765963845" data-mobile="(276) 596-3845"></a></div>
      </div>
    </header>
    <article role="group" class="content-body">
    </article>
    <footer role="group" class="content-footer fx">
      <nav role="list">
        <div role="listitem" class="footer-box fx"><a id="btn_linkedin" role="link" title="LinkedIn Profile" href="https://www.linkedin.com/in/johnathanerichill" target="_blank" type="text/html" hreflang="en"><i class="fa fa-fw fa-linkedin-square"></i></a></div>
        <div role="listitem" class="footer-box fx"><a id="btn_email" role="link" title="Email Career Opportunity" href="mailto:ehill0613@gmail.com?subject=Career%20Opportunity" target="_top">
            <div class="fa fa-fw fa-envelope-square"></div></a></div>
        <div role="listitem" class="footer-box fx"><a id="btn_resume" role="link" title="Download Resume" href="https://www.linkedin.com/profile/pdf?id=AAEAAAsjqtcBzpdY4Uz3sAnp61OMzd9QMq6_wJ0&amp;locale=en_US&amp;authType=NAME_SEARCH&amp;authToken=lka7&amp;pdfFileName=EricHill&amp;disablePdfCompression=true&amp;trk=pdf_pro_full" target="_top" type="application/pdf">
            <div class="fa fa-fw fa-file-text"></div></a></div>
        <div role="listitem" class="footer-box fx"><a id="btn_contact_no" role="button" title="Contact Number" href="#" data-bind="click:showContactNo">
            <div class="fa fa-fw fa-phone-square"></div></a></div>
      </nav>
    </footer>
  </div>
</section>